.idea
.Ulysses*
_deploy/image/gateway
_deploy/image/adapters/citysourced/adp_cs
_deploy/image/adapters/email/adp_email
_deploy/image/simulators/citysourced/cs_sim
engine/gateway
adapters/citysourced/adp_cs
adapters/email/adp_email
monitor/monitor
_background
debug
