
Request Type: {{.RequestType}}

Description: {{.Description}}

Location: {{.Latitude}}, {{.Longitude}}

---Author---
{{.AuthorNameLast}}, {{.AuthorNameFirst}}
Email: {{.AuthorEmail}}
Phone: {{.AuthorTelephone}}

***** CUPERTINO 2 *****
