
Request Type: {{.ServiceName}}

Description: {{.Description}}

Location: {{.Latitude}}, {{.Longitude}}

---Author---
{{.LastName}}, {{.FirstName}}
Email: {{.Email}}
Phone: {{.Phone}}

***** CUPERTINO 1 *****
